/* Sidebar Styles */
.sidebar {
    -fx-background-color: #1E90FF;
    -fx-padding: 20;
    -fx-pref-width: 200px;
}

.sidebar-item {
    -fx-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-font-family: "Times New Roman", serif;
    -fx-text-alignment: center;
    -fx-background-color: transparent; /* Fond transparent par défaut */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Effet au survol */
.sidebar-item:hover {
    -fx-background-color: #4682B4; /* Bleu légèrement foncé au survol */
    -fx-fill: white; /* Garde la couleur du texte blanche */
    -fx-cursor: hand; /* Curseur en mode main */
}
